<!DOCTYPE html>
<html lang="en-au">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="John Ferlito" />

   <title>{{ page.title }}</title>

   <link href="/atom.xml" rel="alternate" title="M3U8 Segmenter" type="application/atom+xml" />
   <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
</head>

<body>
  <a href="http://github.com/johnf/m3u8-segmenter"><img id="fork" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>

  <div id="container">
    <div id="header">
      <h1>
        M3U8 Segmenter
      </h1>
    </div>

    <div id="nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#install">Install</a></li>
        <li><a href="#support">Support</a></li>
      </ul>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      By <a href="http://inodes.org">John Ferlito</a> (<a href="mailto:johnf@inodes.org">johnf@inodes.org</a>) and Chase Douglas
      <br />
      <small>Thanks to <a href="http://holmwood.id.au/~lindsay">Lindsay Holmwood</a> for the web page layout</small>
    </div>

  </div>
</body>
</html>
